<!DOCTYPE html>
 <html lang='en'>
 <head>
    <title>My Portfolio</title>
     <meta description="Main Page for My Portfolio app">
     <meta charset="utf-8">
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'index/styles.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
 </head>
 <body>
     <div id='wrapper'>
         <h2>About Me!</h2>
         <p>I am a Python web developer and love going to hackathons in my spare time. I love making things and meeting new people! People might be surprised to learn that I own a horse and use to be a horse trainer!</p>
     </div>
 </body>
 </html>
