<!DOCTYPE html>
 <html lang='en'>
 <head>
     <title>Projects</title>
     <meta description='Projects Page for The Real Portfolio App'>
     <meta charset='utf-8'/>
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'index/styles.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
 </head>
 <body>
     <div id='wrapper'>
         <p>My Projects:</p>
         <ol>
             <ul>Danger Zones</ul>
             <ul>Fat Unicorn: The Poopening</ul>
             <ul>My Cohort</ul>
             <ul>Certify Me</ul>
             <ul>Woof Woof Go!</ul>
         </ol>
     </div>
 </body>
 </html>
